= render :partial => 'tour_navigation', :selected => :send
.TourContent.left
  %h2
    Whether your project is large or small, Remindem can help
  %p.advertised.w60 No matter how many lists you manage, no matter how many subscribers you have, Remindem makes it simple to send scheduled text messages to make their lives easier, healthier, and more enjoyable.
  %img{:src => "/images/illustration.png", :style => "margin-left: 164px; width:425px; height: 353px;"}/
  %h3 Ready to get started?
  %p.w60
    Set up a #{link_to _("free account"), new_user_registration_path} and begin today. Once you've set up your messages, keywords, and schedules, be sure to let others know about your list using social media and by spreading the word wherever potential subscribers gather, such as hospitals and clinics.
  %p.w60
    Need a little more info? Visit our #{link_to _('Help page'), help_path} or subscribe to our #{link_to _('user discussion group'), "https://groups.google.com/group/instedd-tech", :target=>"_blank"}, where we'll be happy to answer any questions you might have and help you get going with Remindem!
.clear
